[2012-08-29 02:19] ShadowKyogre opened #1 "Add ability to embed images via relative paths and instructions to link to pages within"
Hi there, I first stumbled across mikidown when I was looking for another solution to my notetaking habits since I got an android tablet and wanted to make sure and wanted to be able to embed some images. I notice that it doesn't display local images unless I append a file:// in front of the URL, but even this doesn't do it for relative links (I've tried from both the directory the page is in, the

[2012-08-31 14:34] #1 closed, assigned to nobody

[2012-08-31 16:54] ShadowKyogre opened #3 "More advanced searching + replacing grep with a pure python solution for cross-platformness?"
Currently, mikidown can just do searching across all pages with regex using grep and simple searching the current open note. I was looking through some of Zim's search functions and wonder if we could implement the following:
- find and replace (with regex if possible)
- searching pages that link to a specific page (<- technically already done if one greps for a particular wiki file path in the se

[2013-04-03 01:52] ghost opened #5 "Syntax highlighting?"
Sorry if I miss the obvious, but it would be a very fine convenience as one might then generally just use the editor view and avoid too wide an app window (editor + live).

A brilliant app/idea by the way.

[2013-04-04 02:01] #5 closed, assigned to nobody

[2013-04-04 10:06] ghost opened #6 "Doesn't retain:"
1. the window size and position (though I can work this out in KDE or Fluxbox),
2. the view mode (always launches in live mode) and so the cursor position. Retaining the cursor position (if possible) would be a convenience especially in longer documents.

[2013-04-04 10:12] ghost opened #7 "TOC?"
As implemented in Zim? Zim creates a TOC based on headings and this makes navigation in longer documents much easier. Otherwise one needs to divide longer documents with headings into many short documents for easy navigation.

[2013-04-04 10:18] ghost opened #8 "Sort alphabetically"
like Zim again. Then one can use a note as a simple and practical phone/address book, like so:

**Name A** - phone number etc.
**Name C** - phone number etc.

Such a feature would be a great convenience as there's no phone/address book apart from Osmo (with its GTK and other dependencies). And seeing zillions of complaints in forums and elsewhere I believe the vast majority of even KDE users don't

[2013-04-05 12:29] #8 closed, assigned to nobody

[2013-04-05 13:14] ghost opened #9 "No footnote yet I guess?"
Sorry for spamming you, but I can't manage to enter footnotes. Presumably not implemented yet?

[2013-04-05 13:51] #9 closed, assigned to nobody

[2013-04-05 21:43] ShadowKyogre opened #10 "Add the ability to view notes in a separate window?"
Sometimes I have to view multiple notes at the same time while working on something. I've implemented this on my own copy of mikidown, but I can't issue a pull request since the copy I have's diverged from yours quite a bit ^^;. Instead, I'll leave a link to the [relevant patch](https://github.com/ShadowKyogre/mikidown/commit/806b192c252255d2c5c2b1b53f6ebde2365e1070.patch) that's needed to impleme

[2013-04-05 21:50] ShadowKyogre opened #11 "Possibility of "Cannot open notebook pages in previous notebooks after opening another notebook" existing in this version of mikidown?"
After noticing some of the code in [in mikidown/mikitree.py](https://github.com/rnons/mikidown/blob/98c745d5a0aaf6bcf710b885ba9192b92a405b7c/mikidown/mikitree.py), I noticed that the code looks a little bit similar to what I had before I pushed a fix for a bug mentioned on the version of mikidown I had on my personal repository. See [this](https://github.com/ShadowKyogre/mikidown/issues/1) for ins

[2013-04-09 11:02] #7 closed, assigned to nobody

[2013-05-03 12:33] ghost opened #12 "Puts pilcrow at the end of headings"
in the html output file.

[2013-05-03 12:43] ghost opened #13 "Some delays"
as if stuck while navigating between notes and edit and view modes as well as quiting.

[2013-05-05 07:23] #12 closed, assigned to nobody

[2013-05-05 08:13] #13 closed, assigned to nobody

[2013-05-06 07:13] ghost opened #14 "No highlighting in some html code"
`<div style="color:red;text-align:center">`
`<p><font face="verdana,arial,sans-serif">Iemaem ieamliemal amlemliea ilemalima ielmaliema liemalmila.</font></p>
</div>`
In the above example codes after the paragraphs are highlighted, but codes before the paragraph except for `<p>` aren't.

Not a big deal as one wouldn't use those html codes much, but you might want to work this out too if it's not a

[2013-05-06 10:06] #14 closed, assigned to nobody

[2013-05-09 03:45] #11 closed, assigned to nobody

[2013-05-09 14:39] #6 closed, assigned to nobody

[2013-05-18 10:01] ghost opened #15 "Edited notes are saved outside of the regular Mikidown notes folder"
I've got a note called "EV.markdown" inside the Mikidown notes folder ("mikinotes" folder) and it's listed in the side pane of the app, but when I edit that note, changes (i.e. the edited version of that note) are saved outside of the regular Mikidown notes folder (outside of "mikinotes" folder); it's saved in home folder. So there are now two EV.markdown notes/files and next time I launch the app

[2013-05-21 02:15] #15 closed, assigned to nobody

[2013-06-01 12:35] rnons opened #16 "Improve search functionality"
Search results should be ordered according to relevance!

Maybe use a QWebView to show search results, not unlike google search.

[2013-06-01 12:39] rnons opened #17 "Shortcuts to switch to recent viewed notes"
Limit the number of recent viewed notes to NINE.

Be able to use shortcuts such as **Ctrl + [1-9]** to switch note.

[2013-06-11 02:57] rnons opened #18 "Submit to pypi"
Users from non-Arch Linux distributions will benefit from this.

[2013-06-11 03:04] rnons opened #19 "Shortcuts to open and search note quickly"
Use keyboard shortcut (e.g. Ctrl +g ) to open a shell-like window, input notepath to open note quickly.

Maybe integrate this into the search panel. With certain prefix, take the search phrase as note path, and open the note directly without searching.

[2013-06-11 14:26] #16 closed, assigned to rnons

[2013-06-11 14:26] #17 closed, assigned to rnons

[2013-08-17 08:43] #18 closed, assigned to rnons

[2013-09-13 10:01] Pi3R1k opened #20 "Support .md and .mkd"
I always have multiples markdown files but with .md and .mkd extensions.
It will be great if mikidown can read them and select the default extension for saving files.

[2013-09-13 13:54] #20 closed, assigned to nobody

[2013-10-06 11:09] #3 closed, assigned to nobody

[2013-10-28 15:39] alpar-t opened #22 "Auto save doesn't work well with multiple instances"
I just lost some notes today by mistakenly having opened multiple instances of mikidown.

Mikidown should limit the number of instances running. Instead of creating a new one it should pop up the existing one.

I'm not sure how exactly to reproduce, I had 2 instances opened, then at some point I realized it and closed one of them.  After some time I had a system crash as well, so that might have c

[2013-10-31 05:24] rnons opened #23 "Redesign notebook folder"
Currently notebook folder contains:
notebook.conf  notes.css  .indexdir/  markdown_files

In version 0.3.0, notebook folder will contain:
notebook.conf  notebook.css  whooshindex/ notes/  attachments/  html/

All markdown files will live in _notes/_ folder, and the file hierarchy will be mirrored to _attachments/ and *html/_ folder.

A note page **github/mikidown** will corresponds to the followin

[2013-11-16 14:29] alpar-t opened #25 "Traceback printed on console when saveing note"
Traceback (most recent call last):
  File "/home/atorok/work/3rdparty/mikidown/mikidown/mikiwindow.py", line 422, in saveCurrentNote
    self.saveNote(item)
  File "/home/atorok/work/3rdparty/mikidown/mikidown/mikiwindow.py", line 429, in saveNote
    self.notesEdit.save(item)
  File "/home/atorok/work/3rdparty/mikidown/mikidown/mikiedit.py", line 231, in save
    self.whooshProcess.start()
  File

[2013-11-16 14:42] alpar-t opened #26 "If one closes a view it's not intuitive how to get back"
After having closed Search and Attachments, I had to wonder quite a bit until I found the drop dow, by mistake.  It would be better to be able to get these views back from the view menu.

[2013-11-16 15:37] alpar-t opened #27 "Links in the note viewer don't open"
Adding a note like [github](http://github.com/) and then clicking on it in the viewer does not open it in the browser. Nothing happens.

[2013-11-17 13:39] #25 closed, assigned to nobody

[2013-11-17 13:39] #26 closed, assigned to nobody

[2013-11-17 13:39] #27 closed, assigned to nobody

[2013-11-18 04:35] rnons opened #29 "text selection issue in notesEdit"
1. select a word, then right click mouse, the character after the word got selected
2. unable to copy part of a word, select any part of a word, then right click mouse, the whole word got selected

[2013-11-18 05:59] #29 closed, assigned to nobody

[2013-11-18 11:38] rnons opened #30 "Copy/paste in notesEdit added two newline characters"
type `abc` into notesEdit, then copy/paste it will result as

[code]

the newline character is unwanted.

Look into the code, copy/paste plain text in notesEdit is taken as source.hasHtml()

[2013-11-18 13:01] #30 closed, assigned to nobody

[2013-11-23 04:58] #23 closed, assigned to nobody

[2014-07-09 02:53] memeplex opened #32 "Mathjax support"
Please, add it, it's a killer feature for a notetaking app.

Also enable asciimath, as it's friendlier for taking quick notes.

[2014-07-17 14:20] mii9000 opened #34 "How to run??"
How do I run this app after installing through pip?

[2014-07-17 14:44] #34 closed, assigned to nobody

[2014-07-19 06:08] #32 closed, assigned to nobody

[2014-07-19 06:31] #19 closed, assigned to nobody

[2014-07-19 06:40] ShadowKyogre opened #35 "Provide GUI for enabling extensions"
Title says it all. Looking for the ones in markdowns.extensions and the ones prefixed with mdx_ is pretty easy. It's just that the code might not be smart enough for full imports for modules (eg: blab.mdstuff.aplugin ). I'll get to work on this straight away.

[2014-07-19 18:09] #35 closed, assigned to nobody

[2014-07-20 22:12] ShadowKyogre opened #36 "Reindexing opens a second window?"
Considering how the **init** file's starting things, I think it //might// be best to instead make a separate little script that takes the path to a notebook and/or a specific note in the notebook so it can properly reindex the notebook without this happening.

I've been currently doing some tests on Windows, but I'm sure I can trigger the same bug in Linux.

With the single process per user lockin

[2014-07-21 03:33] #36 closed, assigned to nobody

[2014-07-21 13:39] meriops opened #37 "Tagging notes"
Nice little program! Thanks!
It would be nice to have some way of tagging notes, maybe similar to https://github.com/akehrer/Motome

[2014-08-04 00:31] #37 closed, assigned to nobody

[2014-08-04 19:15] ShadowKyogre opened #38 "Order of markup affects highlighting?"
What I mean by this is that the order of how the markup syntax is typed in is affected. With the hard coded color schemes from before, this wasn't as obvious (Because bold and italics had the same colors). Below is an example of what I mean:
![Inconsistent highlighting colors?](https://cloud.githubusercontent.com/assets/673620/3802100/1871dc3c-1c0b-11e4-90a9-f84efcb1a9a5.png)

Does anyone else con

[2014-08-07 18:57] ShadowKyogre opened #39 "Sandbox not completely cleaned up"
Steps to reproduce:
1. Get the development copy of mikidown
2. Run it in sandbox mode (via `/path/to/python3 ./mikidown.py sandbox`)
3. Let it do its thing
4. Close it

Expected result: the test_notebook is completely cleaned up (like on Linux)
Actual result: the test_notebook's database is still there, requiring the Windows user to manually delete the .indexdir to complete the complete wipeout.

[2014-08-14 20:09] #39 closed, assigned to nobody

[2014-09-25 07:12] cnodell opened #40 "Can't get past 'Create Notebook' dialog displayed on first running"
When I run mikidown the 'You do not have a notebook yet so please create one by giving me a Name and a Path' dialog appears but mikidown does not open after clicking OK regardless of what values I enter.

I have tried to install mikidown both via pip and by simply cloning the repo and running without installing.

I am running Debian Testing and have python 3 and believe I have all required python

[2014-09-26 02:42] #40 closed, assigned to nobody

[2014-11-15 06:03] ShadowKyogre opened #42 "Configurable tab width"
Title says it all. I'm thinking of adding a configuration box that allows people to flip between 2, 4, and 8 tab widths. Currently, the tab width is 8 spaces (far too much for my liking, but might be okay for other people).

Hints on how to implement this can be found in a [Stack Overflow question](http://stackoverflow.com/questions/13027091/how-to-override-tab-width-in-qt) I found.

[2014-11-25 09:56] derkan opened #43 "Notebook Settings => AttributeError"
Hi,
Thanks for nice editor I was looking for.
I cloned from github and run with python3(3.4.0). Notebook Settings page is raising exception:

[code]
Regards
derkan

[2015-01-06 00:35] ShadowKyogre opened #44 "Prepare for translations"
During the feature implementation bits, I forgot to translate quite a few strings. I'll be preparing it for translations and get the translation file out.

So, needed steps:
- [ ] prepare user facing labels for translation
- [ ] prepare stdout output for translation
- [ ] generate the first *.ts files for English

[2015-01-07 03:48] ShadowKyogre commented on #22
@atorok - Have you tried the most recent version to see if it's still a problem?

[2015-01-07 03:50] ShadowKyogre commented on #42
Commit 50239ac8b33dd04958f49e78596531968da06dfa introduces this, closing.

[2015-01-07 03:50] #42 closed

[2015-05-24 23:12] jaredpetersen opened #45 "Project Link is Broken"
The link at the top of the repository leads to a 404 page.

![screen shot 2015-05-24 at 4 11 26 pm](https://cloud.githubusercontent.com/assets/8802128/7790115/97f9533a-022f-11e5-955e-2900251fcdee.png)

[2015-05-25 00:47] ShadowKyogre commented on #45
Fixed! Seems the redirect has expired now, so I fixed it to point to the unredirected version.

I'll definitely have more time to attend to this now that summer's here.

[2015-05-25 00:47] #45 closed

[2015-05-26 05:43] ShadowKyogre commented on #10
Reopening this because of issue #22, which makes autosaving behave weirdly when there's multiple instances of mikidown. I'm not sure if there's a reliable way to reproduce that, but, if there's a way to implement this that isn't as awkward (like not relying on dockable widgets like in the original draft implementation), I'll definitely consider it.

[2015-05-26 13:41] ShadowKyogre commented on #22
@atorok: Thought about it for a while and I think I came up with a method to reproduce the bug. This is what I think might be happening:

1. Have two mikidown windows open on the same notebook
2. Accidentally delete one of the notes in one of the windows
3. Close the window that was responsible for deleting the notes
4. Do the rest of whatever in the second window and close it

Expected result: No

[2015-05-27 05:37] atorok commented on #22
Sorry, this was a long time ago and I lost all memories of the incident.
It seems to me that a lot of issues would be avoided by limiting one instance per notebook ( option 1).

[2015-06-01 17:22] ShadowKyogre commented on #22
Per-notebook locks are implemented in https://github.com/ShadowKyogre/mikidown/commit/edb973aba38e41e15a7e3e38f5e9a43dc7975af6

Before I fully close this bug (since there needs to be a way to view notes separately so more than one can be looked at at a time), I also wanted to get your ( @atorok ) POV on how the current draft of the separate note view looks.

![2015-06-01-101710](https://cloud.gith

[2015-07-01 20:19] mjnaderi opened #46 "Support for RTL text"
Hello,

Is it possible to add a `dir="auto"` attribute to html elements like `p`, `h1`, `h2`, ..., `ul`, `ol`, to add support for right-to-left languages?

Thanks

[2015-07-01 20:46] ShadowKyogre commented on #46
@mjnaderi: It's definitely possible, it's just a matter of how to approach it. I could code up something like the already existing Attribute List extension that takes a list of default attributes to put on every block level element (see https://pythonhosted.org/Markdown/extensions/attr_list.html).

There's also just going through the converted html and putting the dir="auto" manually, though that

[2015-07-01 20:46] mjnaderi opened #47 "Syntax highlighting for setext-style headers"
Hello,

I tried using setext-style headers, but the editor didn't highlight it:

![screenshot from 2015-07-02 01-13-48](https://cloud.githubusercontent.com/assets/2115303/8464487/b915986c-2057-11e5-8a10-88fb850aa8ac.png)

Is it planned to add this feature?

Thanks

[2015-07-01 20:56] ShadowKyogre commented on #47
It's definitely planned to add this feature, though it may rely on some of the work that'd need to be done to also fix #38.

This is because the highlighter currently acts... weirdly... with things
[code]
are like what's in the previous code block I just put in this comment.

The screenshots in the referenced issue should help explain what's going on with the current highlighter code without divin

[2015-07-01 21:02] mjnaderi commented on #46
Using this markup:
[code]

I am getting this output:

![screenshot from 2015-07-02 01-27-28](https://cloud.githubusercontent.com/assets/2115303/8464738/bbe5b796-2059-11e5-84a0-56a7f477e7b8.png)

But I expect this:

![screenshot from 2015-07-02 01-30-41](https://cloud.githubusercontent.com/assets/2115303/8464781/0de922bc-205a-11e5-9da1-fd0607476ad4.png)

[2015-07-01 21:03] ShadowKyogre commented on #46
@mjnaderi: Gotcha! I'll get to work on it straight away.

[2015-07-01 21:32] ShadowKyogre commented on #46
Also, while I'm working on it, there's another case that I found that might be a problem if dir="auto" is put everywhere blindly (see the classroom convo):

http://dev.w3.org/html5/spec-preview/global-attributes.html#the-dir-attribute

The best work around I can think of is forcing the correct direction in certain cases while applying the dir attributes.

[2015-07-01 21:32] mjnaderi opened #48 "Select editor font"
It would be great if there was an option to select the font and base font size of editor.

[2015-07-01 21:56] mjnaderi commented on #46
@ShadowKyogre That's a good solution. I think detecting the true direction of paragraphs is not easy.

We can guess text direction in a better way by defining a `rtl_threshold`, and comparing `rtl_chars_count/all_chars_count` with `rtl_threshold`.

Twitter uses this method, and sets `rtl_threshold` to `0.3`.
https://github.com/twitter/RTLtextarea/blob/master/src/RTLText.module.js#L249

[2015-07-01 22:10] mjnaderi opened #49 "Copy/Paste plain text"
Sometimes user wants to copy pieces of text from websites to Mikidown. When I do this, html elements and styles are copied too.

![screenshot from 2015-07-02 02-33-42](https://cloud.githubusercontent.com/assets/2115303/8465914/d7a17660-2062-11e5-98c3-98822471aef2.png)

I think, in most cases, user just wants plain text.

Maybe adding `paste rich text` to `Edit` menu, and setting the default action

[2015-07-01 22:15] mjnaderi opened #50 "Remember last view mode for notebook"
Hi,

When I set view mode to `Edit` or `Split` and close Mikidown and open it again, the view mode is reset. It would be nice if there was a field in `notebook.conf` for storing last view mode of the notebook.

[2015-07-01 22:19] mjnaderi commented on #50
I just found #6 which describes exactly what I mean. I close this.

[2015-07-01 22:19] #50 closed

[2015-07-01 22:25] mjnaderi commented on #6
It would be nice if there was a field in notebook.conf for storing last view mode of the notebook. Then, for example, user gets the last view mode after turning off PC and coming back to it a few days later.

[2015-07-02 01:56] ShadowKyogre commented on #46
@mjnaderi: Almost there with the extension to fix this, just gotta figure out how to deal with the bidi placeholders in markdown that're preventing fixes like the one you suggested.

Relevant lines of code I'm reading while figuring out a workaround: https://github.com/waylan/Python-Markdown/blob/e594213ab689847ee7d9654817b8fa80fafb0fb7/markdown/util.py#L38-L47

[2015-07-02 02:28] ShadowKyogre commented on #46
@mjnaderi: Got a rough implementation of it so far, will polish it tomorrow with how Twitter does things.

Here's the test text I used that has both the classroom convo and your text:
[code]

[2015-07-02 07:41] mjnaderi commented on #46
@ShadowKyogre Thanks for your attempt.
I tested it, and it didn't work correctly for these parts:
[code]
This contains both rtl and ltr text, and is expected to be rtl, but becomes ltr.
[code]
This list contains only rtl text, but becomes ltr.

[2015-07-02 18:42] ShadowKyogre commented on #46
https://github.com/ShadowKyogre/mikidown/commit/70ee73f392d76578e7be448e91e694987dab2977

Did a few more tweaks to address the UL and the orig Arabic+english txt. Tell me if there's any more examples where the text direction breaks!

[2015-07-02 22:12] ShadowKyogre commented on #49
Note to self: This behavior is only present when html2text isn't present to markdownify a piece of text. See https://github.com/ShadowKyogre/mikidown/blob/develop/mikidown/mikiedit.py#L165-L172 for more information.

That being said, I'll probably also need to fiddle with the context menu to properly expose this to the user.

[2015-07-03 12:57] mjnaderi commented on #46
It is working find now. Thanks.

[2015-07-03 13:05] mjnaderi commented on #38
I found more problems with syntax highlighter.

In this image, the font of code changes after the empty line:

![screenshot from 2015-07-03 17-28-05](https://cloud.githubusercontent.com/assets/2115303/8499519/0bde0456-21a9-11e5-9db0-d7736205b960.png)

In this image, the `#include` line becomes `h1`:

![screenshot from 2015-07-03 17-29-58](https://cloud.githubusercontent.com/assets/2115303/8499535/

[2015-07-03 19:32] ShadowKyogre commented on #38
@mjnaderi : While working on the bug fixes, I was also looking at the source code for peg-markdown-highlight. That does indeed look pretty interesting, especially after reading the source code for how they implemented it in Qt.

Only problem is that the current python binding is in experimental state currently.

[2015-07-03 20:46] mjnaderi commented on #48
Thanks for you fast implementation of this feature!

I tested it, and it's great. But I noticed that the font of `h1` and `h2` elements are different. And when I put a link, the font and font size of link look different from regular text.

![screenshot from 2015-07-04 01-12-27](https://cloud.githubusercontent.com/assets/2115303/8504624/f09de094-21e9-11e5-9598-a6e73752f9d1.png)

I mean there are so

[2015-07-03 20:52] ShadowKyogre commented on #48
@mjnaderi: That's partly due to how the original implementation of the highlighter highlights things. I'm planning to force those to not change their font size and family to ensure that it's consistent.

It should be done around today to Sunday, because 4th of July weekend.

[2015-07-06 17:01] ShadowKyogre commented on #48
@mjnaderi: Also, the screenshot you're showing for the link shows the link part as italicized. I don't think that's what you meant by it changes size, but, the h# ones are the ones that don't have sizes consistent with the rest of the highlighted text. I got the not forcing font size and family in highlighter done, just need to push it.

[2015-07-06 19:49] ShadowKyogre commented on #46
Closing this, if there's any other texts this produces errors for, let me know.

[2015-07-06 19:49] #46 closed

[2015-07-06 19:49] #47 closed

[2015-10-08 19:20] ShadowKyogre commented on #43
Closing until more information is provided.

[2015-10-08 19:20] #43 closed

[2015-10-08 19:21] ShadowKyogre commented on #48
Closing since it's implemented in commit (unless further feedback is given).

[2015-10-08 19:21] #48 closed

[2015-10-08 19:21] ShadowKyogre commented on #49
Closing since it's implemented in commit (unless further feedback is given).

[2015-10-08 19:21] #49 closed

[2015-10-15 18:17] ShadowKyogre opened #54 "Add easy dating of new entries / template system?"
As the title says, there should be a way to easily name a new page after the current date. Usually I have to type out the date myself (which is a bit of a PITA after so many dream log entries).

There are a few ways I'm thinking of implementing this:
* Provide an option in the MikiTree or the LineEditDialog in the instances of mikitree to allow creating new pages or subpages that are named after a

[2015-10-15 21:18] ShadowKyogre opened #55 "Typing a slash in the note name doesn't create a new note under that name"
Steps to reproduce:

1. Click new page or new subpage
2. Type something like "Changelog/achild"
3. Changelog doesn't get a subpage of achild, and achild doesn't exist.

The easiest way I can see working around this is to simply ban trying to put / in the note name. The other way would be to make sure that all the parent notes exist and create those if they don't exist.

[2015-10-16 18:04] #55 closed

[2016-02-21 17:57] pedromorgan opened #56 "PyQt5"
- Are there any plans to port to Qt5 (can I help) ??
- Also making it work on windows ?

[2016-02-22 20:53] ShadowKyogre commented on #56
For your first bullet, the answer'd be yes. I would appreciate the extra help since I'm juggling coding this with several other things.

For your second bullet, it does work on Windows the last time I tried it (but I don't have it well-documented yet). The way I did it was running the main python script directly in the folder. Could you elaborate on what you're looking for in making-it-work-for-Wi

[2016-02-22 22:59] pedromorgan commented on #56
Re Qt5, I recently ported [ts2](https://github.com/ts2/ts2)

One of the features was to include a single `Qt.py` file  for "importing qt", with the idea that later pyside3 etc could be used. The idea was ripped from pyqt graph
- https://github.com/ts2/ts2/blob/master/Qt.py#L21
- https://github.com/pyqtgraph/pyqtgraph/blob/develop/pyqtgraph/Qt.py

This means code would look like
[code]

Also I pers

[2016-02-22 23:04] pedromorgan commented on #56
Disclosure: Hidden agenda is to expreiment with embedding the "mikidown editor" within other applications eg TS2

[2016-02-23 07:27] pedromorgan commented on #56
WIP (DONT MERGE)
https://github.com/ShadowKyogre/mikidown/pull/58

[2016-03-18 22:19] pedromorgan commented on #56
Have had no feedback, or comments... is there anyone out there ;-)))

[2016-03-18 22:49] ShadowKyogre commented on #56
Sorry about the long delay ><. Was floundering around for quite a bit (and still am) trying to build up skills to help get a job (on top of also juggling creative writing to help pull in money in the mean time). Not exactly sure where to put the notice about my status since my online presence is kind of scattered.

I ran the port today and so far notice no problems. However, I'm also reading throu

[2016-03-18 22:52] pedromorgan commented on #56
cool stuff..
Kinda need this for a new project.. so if u go with it, I can probably maintain the "bits" i need.. ;-)
eg git integration..

If your ok with things, then I keep hacking

[2016-03-18 22:53] pedromorgan commented on #56
ohhh.. and target is windows7+.. and am developing with a penguin...

[2016-03-18 23:09] pedromorgan opened #59 "TeamWork"
Maybe we try
https://gitter.im

[2016-03-18 23:11] ShadowKyogre commented on #56
@pedromorgan : Git integration as in being able to view the history on a per-note basis (as well as per-commit), where the notebook is the git repo (just as an example of such integration)? That'd definitely be interesting to see implemented. I've toyed around with viewing the history on a per-file basis for my own story stuff, but haven't gotten any code for it for Mikidown. I'd love to see this.

[2016-03-18 23:14] pedromorgan commented on #56
In my case...
instead of notebooks (and a previous zim user and dev.. from yonder year)..
their chapters in a book, or sections in a website.. and both..

So a workspace is in.. and similar...
Am also working on the server side, and push to deploy, eg on OpenShift/AppEngine and alike

[2016-03-18 23:33] pedromorgan commented on #59
@pedromorgan is in South Wales, Uk and GMT..

[2016-03-18 23:40] ShadowKyogre commented on #59
We could do that and/or set up a channel on Freenode and/or contact each other over a protocol that'll allow leaving messages when either of us are offline (other than email, when all else fails). gitter.im has the overhead from browser usage (though there IS an IRC bridge I spotted for it. IDK how well the bridge works though).

[2016-03-18 23:43] ShadowKyogre commented on #56
@pedromorgan : Understood! That'd also be a good thing to develop it for. Do lemme know when you have some code for that.

[2016-03-18 23:45] pedromorgan commented on #59
On gitter we can chat now.. ish no setup et all..

BTW same as all hackers, got a day job.. and a nite job. ;-))

[2016-03-18 23:52] pedromorgan commented on #56
In fact the "terminology of labels".. is strange, particular when your on the front end with writers etc..

Have u looked at gitbooks etc.. they are real cool.
But unlike mikidown, "its not a desktop" and main thing is
CONTEXT switch.. for end users...

That is why am pursuing this project, and kinda want it as a "markdown-plugin" editor/viewer
embedded in an application...
No more work documents,

[2016-03-19 00:01] pedromorgan commented on #54
What templating we gonna use..

jinga2 is tried and tested standalone, and Not djanjo..
But that is in python...

[2016-03-19 00:03] pedromorgan commented on #54
RE Dates..its
12-25-2016
25-12-2016
2016-12-25

They go both ways and all always.
Maybe there is a trick to dates, ie data, vs logic

[2016-03-19 00:15] ShadowKyogre commented on #56
lol xD at the last paragraph.

And yeah, I've looked at gitbooks in the past. Looking at it again, it definitely looks like it's leapt bounds from the last time I saw it (when it only used markdown).The only reason I haven't used it yet is due to the nature of the stuff that I write for story stuff. (<- those require some privacy even after pushing changes remotely to make sure it's backed up).

B

[2016-03-19 00:18] pedromorgan commented on #56
https://gitter.im/ShadowKyogre/mikidown

[2016-03-19 00:29] pedromorgan opened #61 "Color Picker"
So slick pick is cool (whaw)
Can't find slickpicker, falling back to QLineEdit for editing mikidown colors

I think Qt has a color picker xplatform, so can look at that one

So maybe we need to use that instead,,
FINALLY after all these years Qt does it doh.. even windows had it................

[2016-03-19 00:29] pedromorgan commented on #61
QT5

[2016-03-19 00:32] ShadowKyogre commented on #54
https://github.com/ShadowKyogre/mikidown/blob/develop/mikidown/mikitemplate.py#L45
https://github.com/ShadowKyogre/mikidown/blob/develop/mikidown/mikitemplate.py#L218

You mean these? They take strftime parameters. There's probably a more readable way to do this with dateutil though.

As for which templating language we're going to use (that is isn't simple string formatting), what would you sugge

[2016-03-19 00:35] ShadowKyogre commented on #61
Qt5's color picker isn't crappy nowadays? O_o Can I see screens? My main beefs with the Qt5 colorpicker was that it didn't allow inputting hexadecimal colors directly.

(which lead to me making things like that slickpicker and a compound widget with a button just to show color preview in this other app I have)

[2016-03-19 00:43] pedromorgan commented on #54
Re Dates... nightmare as a person recent in NZ and 11+
So we need to decide I think the format for saving and log = UTC = SAFE..
and local offsets...
But this is also a problem we need to solve... for user...
and presentation I think.. but underlying is date storage rpblem..

[2016-03-19 00:45] pedromorgan commented on #61
OK U sold me on those comments..
And standard coporate colors in widget etc.. and lets make it simple.. ;-)))

[2016-03-19 00:51] ShadowKyogre commented on #54
Definitely save in UTC. Originally, the templating system WIP was just designed so that way pages could have names for simple things (like diary entries). My main concern isn't with the storage, but more of how a user would be able to input something like YYYY-MM-DD_HHmmss and get the corresponding datetime put into the template instead of all that strftime stuff.

Also, what're the requirements f

[2016-03-19 00:52] pedromorgan commented on #61
NOTE:
Colors are good in tabs, eg
- pink ones are client
- blue ones are the XXX..

We we kinda want client to use this also..
eg
red = fire
green = med
blue = police

and other domains........

[2016-03-19 00:56] ShadowKyogre commented on #61
Oooh. So the color picker ideally would be designed to put preconfigured colors up front and then custom colors if needed?

Sorry if it seems confusing to me. Because it looks like that we'd probably need two different color pickers (which isn't hard to code up). One for the text highlighting config, and one for the "domains". (wherever that'd be in the future)

[2016-03-19 00:56] pedromorgan commented on #54
Ok so above.. I am dancing around the room naked...

So cool, we fixed that one.. ;-))))))

So an user can tap in
25-12-16 - u ar invied for turkey to an americal
12/25/2016

Anyway.. its a deep deep deep subject and am with you..

Templating is another issue..  of rep..

[2016-03-19 00:58] ShadowKyogre commented on #61
Reason why I'm saying that is that the color picker with a "domain" palette would likely need to be differently coded than one just to fix up the highlighter scheme to cooperate with an unusual GUI colorscheme (like mine).

[2016-03-19 00:58] pedromorgan commented on #61
We need to make decisions for users..
 oen of them is this "color design".. things..

Check this and make sense..
http://colorschemedesigner.com/

We present pallete..

[2016-03-19 01:04] ShadowKyogre commented on #61
@pedromorgan: Well that I know __that__. But the reason why I put the color picker in the highlighting configuration is because those color decisions were hard-coded before. That drastically decreases usability for people who don't have black text on white background themes.

Anyway, I think I get what you're saying now. We could use something like the link you showed for all of the color picking,

[2016-03-19 01:09] pedromorgan commented on #61
Check this which is what I want mikidown...
http://test.anahata-retreat.org.nz/india-retreats/

Which is a smarty.template and content is md.
and simple markdown for content..
and bootstrap css alike etc..

Cool init...

But BUt BUt BUT my feeling is having checked others is that I want it to be..
- pluginnable to a desktop app..
- editable
- savable > to shwere ever..

I dont even want to look un

[2016-03-19 01:09] ShadowKyogre commented on #54
I think dateutil's got the date parsing handled. See https://labix.org/python-dateutil#head-c0e81a473b647dfa787dc11e8c69557ec2c3ecd2

So if I understand what you're saying about the date input correctly, people should also be able to create a templated page using a date in the past/future instead of just "now", using possibly unpredictable date formats?

[2016-03-19 01:25] ShadowKyogre commented on #61
@pedromorgan: I think your comment was supposed to be #54 since this one's about color pickers. I'll answer you there.

[2016-04-25 23:45] ShadowKyogre opened #69 "Tidy up generate output"
The children for a page are generated at the bottom. That... isn't exactly an ideal place to put it. Not to mention,

[code]

That's invalid HTML. It needs to be tidied up for HTML viewers that're less tolerant to mindbendingly glaring mistakes like this.

[2016-05-06 09:14] F-A opened #70 "[Anaconda] Mikidown crash after create a new notebook"
I just wanted to try out mikidown, but it crashes (Segmentation fault) everytime I try to create a new notebook.
Here are the message I see in the command line:

"Erreur de segmentation" = "Segmentation fault"

I am using anacona for the python environment. Attached is the results of "conda list"
[packages_mikidown.txt](https://github.com/ShadowKyogre/mikidown/files/251839/packages_mikidown.txt)

[2016-05-06 09:19] F-A opened #71 "Document required version of python-asciimathml in README"
The default version of python-asciimathml available in pip is not compatible with python 3.
As you mentioned in the changelogs notebook within mikidown, users need to install the python 3 compatible version of asciimathml.

However, using the default version, mikidown will start but the notes will not be displayed ad users have no chances to find out which version to install to use it with mikidow

[2016-05-06 20:23] ShadowKyogre commented on #70
For comparison, does the development branch segfault?

Also, have you tried running it without anaconda, just using plain python with the noted dependencies for the normal master branch?

I want to make sure this isn't an issue strictly related to running mikidown with anaconda (so I know where I can start with fixing this).

[2016-05-06 20:57] ShadowKyogre commented on #71
Hey there. Does this note here make it clearer for future users? - https://github.com/ShadowKyogre/mikidown/tree/develop#dependencies

[2016-05-08 20:46] F-A commented on #71
Yes, this is clearer!

[2016-05-08 21:19] F-A commented on #70
I'm sorry haven't tried to run it without anaconda but I would like to avoid installing all the packages in my Linux distribution directly... Sorry.

I'll give a try with the development branch but I need to install PyQ5 first. I'll come back to you when I have found time to test it.

[2016-05-09 19:00] #71 closed

[2016-05-11 12:42] F-A commented on #70
I tried the master branch using the ubuntu packages instead of the anaconda ones and it work correctly.
Same for the develop branch using ubuntu packages.

Also the problem could come from using mikidown with the anaconda packages.

[2016-05-11 16:49] ShadowKyogre commented on #70
Huh, interesting. I'll try to reproduce it with anaconda on my end then. Sounds like there might be something in the anaconda bundled PyQt that I'm not accounting for then.

[2016-05-12 00:16] ShadowKyogre commented on #70
Hrm, can't exactly get it to run with conda.
[code]

Try using this patch that I just did on the develop today (edited for master): https://ptpb.pw/6kvn

Then place the two lines, properly indented, just after a notebook is created:
[code]

You should be able to get the precise line number of the segfault after this. To start, place the following two lines somewhere in this line range on master:

[2016-05-12 00:19] ShadowKyogre commented on #70
Whoops, meant this: https://github.com/ShadowKyogre/mikidown/blob/bd33d8451de5cb553805b0a7090a0488caa1ef66/mikidown/mikisearch.py#L22-L27

Being sleepy does things to pasting correct line references.

[2016-05-18 20:52] F-A commented on #70
Sorry for the late response. I had few time to test it.

Adding the debugTrace function in the mikisearch.py or mikiview.py file did not help me to find where the segfault occured: it still happened without entering the debugger.

Then I found out, that the segfault occurs also when saving an edited notebook (pressing Ctrl+S).
I added the debugTrace fuunction at the beginning of the save function

[2016-05-18 21:05] F-A opened #74 "Image are not displayed when the image name contains a white space"
When adding an image to a notebook whose name contains a white space, the picture will not be displayed.
However, the user can correct this behaviour manually by editing the notebook markdown and replacing the white space with %20 in the image path.

[2016-05-19 19:31] ShadowKyogre commented on #74
Reproduced it with an **image** name that has spaces. Not just a notebook name with spaces. I'll see what's going on in the source code.

[2016-05-19 19:35] ShadowKyogre commented on #74
Minimal test case reproduction in python 3.5:
[code]

That's the reproduced html. Let me take a look at the markdown specification to see if this is expected behavior from a compliant parser.

[2016-05-19 19:37] ShadowKyogre commented on #74
Yup, this is expected behavior. See <http://daringfireball.net/projects/markdown/syntax#img>

That being said, what would you recommend to improve this since it might not be something most people know?

[2016-05-19 19:48] ShadowKyogre commented on #74
Pushed a fix in the develop branch and tested it. Let me know if it works for you too.

[2016-05-19 21:16] F-A commented on #74
Thanks for the fast answer and fix!

This is actually what I would have expected: parsing the path to the image directly at the import.

However, the fix works only partially: It work if you import the picture using the shortcut or the top menu but not if you just drag&drop the image. In this case, the same code need to be added in the insertFromMimeData function (l.139)

[2016-05-19 22:15] ShadowKyogre commented on #74
Oooh, okay. I knew I must've missed something. Give me one moment! Am multi-tasking atm.

[2016-05-20 07:18] F-A commented on #74
No problem, there is no hurry. I just wanted to notify the bug. :)

I can do a pull request otherwise. But I'm also pretty busy at the moment,
so it might take some time.

2016-05-20 0:46 GMT+02:00 ShadowKyogre <notifications@github.com>:

[2016-05-20 14:21] ShadowKyogre commented on #74
Pushed another commit yesterday to address case you mentioned. It should work completely dandy now.

On May 20, 2016, F-A <notifications@github.com> wrote:

--
Sent with <a href="https://play.google.com/store/apps/details?id=com.onegravity.k10.pro2"><b>K-@ Mail</b></a> - the evolution of emailing.

[2016-06-20 06:53] mjnaderi opened #75 "Minimize to Tray"
It would be nice to have some options in Mikidown's config menu for:

* Minimizing to tray instead of taskbar
* Minimizing to tray when clicking the main window's close button
* Starting Mikidown in minimized mode

So user can add Mikidown to start-up applications and can access it fast by clicking on its icon in tray. It will be very helpful for fast note-taking while working on other work.

[2016-07-06 00:50] #74 closed

[2016-07-06 01:32] ShadowKyogre commented on #75
Hey there. Sorry for delayed reply. Been juggling IRL and a few other open source things. Anyway, this is doable.

In the case of one open notebook, current behavior.

In the case of multiple open notebooks, would it make more sense to toggle minimizing of the most recent one or just supply a list of notebooks to unminimize? I think it'd be the latter, but just want to double check.

[2016-07-08 06:57] mjnaderi commented on #75
Hi, Thanks for your reply.
Yes, I think the latter makes more sense.

[2016-07-08 06:58] pedromorgan commented on #75
This should be quite easy to implement with QSysTray.. will have a look..

[2016-07-19 03:36] ShadowKyogre commented on #75
@mjnaderi: Take a look at the recently pushed commit. Does that look close to what you were imagining?

If not, I'll tweak it some more.

[2016-07-20 02:24] ShadowKyogre commented on #54
Well, I got a working implementation for the title and body pairs exposed.

However, the draft implementation so far still uses python formatting to take parameters in.

I'll continue doing research on some user friendly templating languages (that aren't just for developers, whether they be web or not) after I schedule a release.

There's lots of bug fixes that piled up in the wip branch that I'd

[2016-08-15 17:33] #69 closed

[2016-09-13 13:43] pedromorgan commented on #75
Ok am hacking..

Need feedback...
https://github.com/ShadowKyogre/mikidown/pull/76

I think what we want is a "prompt" o warrn of close or open notebooks..
- so we need to user impossible options.. That make them pig in shite..
- such as minimize to tray, close all. close book.. et all

I would go for the Mikibook tray icon there.. and an option..
But also allow here on screen two miki boks open,

[2016-09-14 11:07] pedromorgan commented on #75
@mjnaderi  and @ShadowKyogre

Am on the case with the sysray code in front of me..

So asking back for direction to @mjnaderi  is.. in a list how do u want it to go..
- its a tray icon when booted up (umm hard)
- when i launch mikidown first time it shows a "wizard" to setu env..
- ALSO major explain that it exists in a taskbar... so between mikidown

For me I want it to "exists" as a "mama-mikdow

[2016-09-14 11:17] pedromorgan commented on #75
This is actually a "huge change of behavious" and been there done that...

So we almost rename SysTray as the "Launcher".. instead.. with a cool drop down menu

So instead of launching the "main widnow".. we launch the systray..
and from there u can open multi stuff et all, mad ideas

[2016-09-14 11:20] pedromorgan commented on #70
@F-A  is this still a "annoying bug" and abandoned or are u in develop land ?

[2016-09-14 11:28] pedromorgan commented on #44
Can we help everyone by having translation string for avaliability...

I'm 50+ years olde by now.. and why so we still need to translate stuff.. ? eg ok. yes, no
et all

I've even created a new projext of gh..
https://github.com/pyqt5x

With the intention of everone joining into the "problem"..
Arabic is left2right and nippongo is symbols in any order

[2016-09-14 11:28] pedromorgan commented on #44
ie UTF-8 needs to be mandatory ;-))))))))))))))))))))

[2016-09-14 12:07] pedromorgan commented on #54
We need a popup date format widget..

[2016-09-15 11:47] pedromorgan opened #77 "Global Launcher"
Am familiarising myself with the code, and finding out how it currently works

However I do think that there could be one major change to make things easier and that would be to create a "startup object" which would manifest itself as a sys tray..

from that point, all windows etc are addressable from the tray.. eg switching, hiding, opening etc..

Even embed the settings panel, notebook likst the

[2016-09-15 12:01] pedromorgan opened #78 "Path Seperators and \unix vs /windows"
I am a dilema, cos windows and unix path are different..

But what is confusing for developers is what is the real "sys" path, vs qt and python..

Do these transate paths automatically etc etc... ??

A preferred option would be to have all parts in and out on mikdown in one place
eg `from_native()` and `ut.to_native()`

Otherwise well be fighting between qt, actaual os, python3 and dev code instea

[2016-09-15 12:04] pedromorgan opened #79 "Labelling issues + Pulls"
Can we start labelling issues and also add.. new labels eg

[code]

[2016-09-15 12:08] F-A commented on #70
I had the bug only with the Anaconda distribution.
I'm currently using the Ubuntu packages instead and the bug is not present. So in my case it's no long an annoying bug.

[2016-09-15 12:11] pedromorgan commented on #70
Think we can close this for now.. Open it as a new issue if we find the little snake.. ;-)

[2016-09-15 12:18] pedromorgan opened #80 "chat: irc.freenode.net#mikidown"
Maybe we need to register for fun is thats ok @ShadowKyogre

Mainly for support.. if we get to GLOB ;-)

[2016-09-15 12:25] pedromorgan opened #81 "mikidown.github.io"
Apologies to @ShadowKyogre  I kinda working many things, only because am exited for thes project and enjoying for fun..

So idea is we use api-docs generation and also include the fornt manual etc...
I kinda done same things with ts2 http://ts2.github.io/ which is bacisally what am doing...

That I do want is some good commented code, so a newbie can walk in and figure things aout also start havin

[2016-09-15 19:19] ShadowKyogre commented on #81
Look, I appreciate that you desire to help. However, it appears to me that you are attempting a hostile takeover of this project. I have no desire to relocate this project, nor cede control over any part of it.

For clarity, I'm referring to the creation of the https://github.com/mikidown organization before consulting me about creating such.

Because of that action, my biggest concerns about migr

[2016-09-15 19:28] ShadowKyogre commented on #78
This is a valid concern. There's so many places where that replacing with `os.sep` with `/` happens throughout the code to standardize path creation.

More recent versions of Python have the `pathlib` module for standardizing path creation: https://docs.python.org/3/library/pathlib.html

It's something that I've been looking at, but haven't gotten around to yet due to IRL.

[2016-09-15 19:53] #70 closed

[2016-09-15 19:54] ShadowKyogre commented on #56
Closing this since the PyQt5 port is complete

[2016-09-15 19:54] #56 closed

[2016-09-15 20:52] pedromorgan commented on #78
the other alternative to pathlib is using qt and
[code]
Sigh!..

Maybe we abstract to its own function, and then can pick/choose lib for implementation..

[2016-09-15 20:54] pedromorgan commented on #81
I am not attempting a hostile takeover.. whatsover..

[2016-09-16 16:02] pedromorgan commented on #78
Ok so looked into this a bit and `my personal` feeling is that we use qt, to do the magic, mainly cos I would
- expect PyQt to be more "reliant" its build in.. andd c++ xplatform eyes..
- pathlib is a cool, but also  one less dependancy for things.. and externals..

I think the problem could be solved with a kinda "mikimagic" between all or them as we are
- interested in fileles, directoryies, pat

[2016-09-16 16:10] pedromorgan commented on #80
https://github.com/ShadowKyogre/mikidown/issues/59

[2016-09-16 16:22] pedromorgan commented on #44
Qucik question @ShadowKyogre = I assume we need to make all files utf8 right ? and any that aint will be converted.. ??

[2016-09-16 16:26] pedromorgan opened #82 "Newbie TODO: Tasks - take your pick ;-)"
For benefit of newbies who want to hack..
## Boring Tasks
- Removing all python4 stuff from eg **future** develop branch...Please walks each file and PR per file
- Install fabric and shpinx docs, create api-docs see `fab -l` in `develop`
# Huge Tactical Tasks
# file paths x-platform
- make the whole mikidown file path system easy for everyone https://github.com/ShadowKyogre/mikidown/issues/78
# Sy

[2016-09-16 16:39] pedromorgan commented on #81
Relax.. chill out.. lets other people's argue about the code.. till it workz ;-))
Your the BDFL anyway...

And hey from my point of view, am on vacation.. so adding comments.. realising issues..
et all..
And my intention is Et-all a takover.. no no. But maybe if we can promote it and stuff.. then its opensource and it would a take over.. Which is what u want right ??.. forevever ;-))

But i unders

[2016-09-16 16:43] pedromorgan commented on #81
What I want as a newbie hitting "mikidown" for the first time ??

A cool kinda www, but for DEV'S that special api docs button etc...

and now project is live, with autodocs generaed online and it runs..
Bugs are answered and replied... and fixed etc..

Thats where I want "mikidown" to be.. cos its cool and fantastic.. thanks to u

[2016-09-16 16:47] pedromorgan opened #83 "Events: File Watchers et all"
Main issue here is Watchers files

# Plan Qt = Real OS in Qt App
suggest we remove all python watchers and replace with http://doc.qt.io/qt-5/qfilesystemwatcher.html

# Plan PY = use python watchers instead
?? confused ??

We need to research this, and make sure we have one context somehow

[2016-09-16 18:55] ShadowKyogre opened #84 "Remove circular dependencies"
Parts of this code still have circular dependencies (( as a result from inheriting the code )). Before we do anything fancier, it's important that we remove all the circular dependencies. Why?

Circular dependencies break imports of the form `from mikidown.mikitree import TocTree`

Or anything similar to that.

Why is this important? There's still several items in the mikidown source code that don

[2016-09-16 18:56] ShadowKyogre commented on #82
I'm not sure what you're trying to say here.

Otherwise, there shouldn't be a master task list for all of these. But there should be labels in terms of difficulty.

[2016-09-16 18:58] ShadowKyogre commented on #10
Closing this issue for now since the separate note view's been implemented.

[2016-09-16 18:58] #10 closed

[2016-09-16 19:09] ShadowKyogre commented on #61
Closing this since this ticket's stale. And the color picker integration is working fine since slickpicker's been ported to PyQt5 along with mikidown.

[2016-09-16 19:09] #61 closed

[2016-09-16 19:12] ShadowKyogre commented on #79
This is a good idea. I've reorganized the labels with the following syntax:

- `type-{issuetype}`
- `os-{linux,windows}`
- `p-{allthethingsformikidowncode}`
- needs-user-input (( the only odd one out of bunch ))

It'll take me a while to sort through the old tickets and appropriately label them.

[2016-09-16 19:45] ShadowKyogre opened #85 "Port to QWebEngineWidgets"
While a friend of mine was checking out mikidown, they noticed that QWebKitWidgets was removed from PyQt5.

While this CAN be solved by just installing the QWebKitWidget support, I'd ideally like to port this over to QWebEngineWidgets for the next release.

Here's a link consisting of all my experimentation so far with QWebEngineWidgets:
https://ptpb.pw/HlwB/py?style=monokai

And a link on porting

[2016-09-17 22:23] ShadowKyogre commented on #85
Checked off the issues in the top comment. I needed to set a base url when using setHtml just like the last time. Not sure why that escaped my mind.

[2016-09-19 20:25] ShadowKyogre commented on #84
Closed with https://github.com/ShadowKyogre/mikidown/commit/2bbbd8d3f450736bf4fbb00218b4cbb4a269a7b8

[2016-09-19 20:25] #84 closed

[2016-09-23 15:52] F-A opened #86 "Synchronizing notes on multiple device"
This is more a question than a bug. I'd like to synchronize my notes over multiples devices. Do you plan to add such a fuunctionality? For example using owncloud or dropbox?

In between, is there anybody synchronizing the notes between devices? How are you proceeding?

[2016-09-23 18:21] ShadowKyogre commented on #86
I would consider adding such functionality for services that don't have desktop clients on Linux.

For now, I've been syncing my notes with Syncthing (( across my devices )) and mega.nz (( because some of my backups are too fat to go on dropbox, like all my art )). This setup should also work with dropbox.

What I usually do is:

- Symlink or move the notes directory into the syncthing/dropbox/wha

[2016-09-23 20:08] F-A commented on #86
Thank you for your answer.
I'm currently using git to synchronize my notes but this is a kind of
overkill in that case.

No, I guess there is always the possibility to install a syncing client if
you manage to run Mikidown.

Which directory do you synchronize exactly? The "attachments" and the
"notes" folder or do we need to synchronize the notebook.conf file too?

2016-09-23 20:21 GMT+02:00 Shado

[2016-09-23 23:17] ShadowKyogre commented on #86
I synchronize the root directory of the notebook since (the one that contains `attachments`, `notes`, so on so forth) since I have non-textfiles in there too.

If you only need the note contents themselves (barring any images), synchronizing the `notes` folder of a notebook is also an option. It might be slightly more confusing than synchronizing the root since on the other computer, you'd have to

[2016-09-24 18:45] pedromorgan commented on #86
I'm using git for storage/syncing and (when i have time), would like to create a small "git/gui" for commits and push/pull.

[2016-10-03 21:20] ShadowKyogre commented on #85
So updates on the experiment on trying to refactor this for QWebEngine. I haven't pushed it yet because I'm still trying to work out a few kinks. Those kinks are:

* Any CSS that refers to system colors breaks. Why? QWebEngine forces these to take on a white/black/blue color scheme.
* Unit tests break because they complain about QWebEngineWidgets being imported after a QCoreApplication is created.

[2016-12-08 21:31] jfries commented on #85
Could you provide some guidance on how to install QtWebKitWidget support in the current release?
I'm on Ubuntu and getting this error as a result of the issue:
ImportError: cannot import name 'QtWebKitWidgets'

I tried the following but it didn't remove the error:
apt-get install libqt5webkit5-dev
apt-get install python3-pyqt5.qtwebkit

[2017-02-07 10:39] althorpaforos opened #88 "Can't export to HTML"
Can't export to HTML. It crash. Here's error:

[code]

Note:

Qt version: 5.8.0
[code]

[code]

[2017-04-10 20:17] ShadowKyogre commented on #88
Fixed it! Just needed to tweak the code that was around to since getSaveFileNameAndFilter doesn't exist in Qt5 (but getSaveFileName serves the same purpose in Qt5).

[2017-04-10 20:17] #88 closed

[2017-06-01 08:56] althorpaforos opened #89 "Save as function core dumped"
If you open File -> Save as -> Don't select nothing -> Press Cancel Button, you'll get a Core Dumped:

[code]
Same with export to HTML

[code]

Notes: Mikidown version: 0.3.11

[2017-06-02 21:17] pedromorgan commented on #89
@ShadowKyogre is on code fire.sprint ;-))))

[2017-07-05 09:10] imByteCat opened #92 "QWebKit doesn't work on PyQt 5.9"
Qt 5.9 has removed `QWebKit`, I can't run the program, QAQ.

Can you fix it?

[2018-06-01 03:40] ShadowKyogre commented on #80
Registered on freenode as #mikidown . I'll need to update the README when I get home. Last several months have been busy due to new job.

[2018-06-01 03:40] #80 closed

[2018-12-10 00:31] #82 closed

[2018-12-10 00:32] #59 closed

[2019-04-04 21:53] cinghiopinghio opened #93 "installation fails"
Hi,
I was trying to install your app but I got stuck with:
[code]
I googled around but I couldn't find a way out... I'm on Archlinux btw.

Any suggestion?

[2019-12-26 02:47] retsyo commented on #93
the markdown package does not supply headerid anymore
so you can
1. comment out
[code]
2.  use this code from old markdown in mikidown\utils.py
[code]

however, mikidiwn does not use up-to-date PyQT5.

[2020-12-05 20:59] ShadowKyogre opened #94 "Needs new maintainer"
Several things happened during my hiatus that caused me to take time away from
mikidown. Other than those hardships, I noticed I wasn't using mikidown as much
compared to other solutions that had their syncing solutions baked in.

It'd be best if someone was able to continue the project to give it new direction.

[2020-12-05 22:48] pedromorgan commented on #94
I dont mind taking on that role.. Kinda envisages similar siltation earlier.. https://github.com/mikidown

The idea is to move the repos into "mikidown" and this means all the issues etc...

Prefer an org setup so frant line committers can commit stuff, instead of awaiting judgment..

[2020-12-05 23:13] pedromorgan commented on #94
The other factor.. apart from repos is the "pypi"..

so u need to add me as a developer ..
need to automate this process (or via github actions ??)

[2020-12-07 20:48] ShadowKyogre commented on #94
@pedromorgan - Migration should be done now, along with the invitation for repo access. Should make it a lot easier to maintain in future now that it's in its own org.

[2020-12-07 21:17] pedromorgan commented on #94
Release process ?

Not sure the way its gone at the moment, but there is a way to configure a github.action to create releases on pypi..

So all that need to happen is to to set the user+pass for pypi
https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/

[2020-12-07 22:16] pedromorgan commented on #92
So am working on this.

[2020-12-07 22:42] pedromorgan commented on #94
hi @ShadowKyogre .. can u help with an issue...

I cant see where the `headerid` extention comes from, its not in code, not on pypi.. am I missing something

[code]

[2020-12-08 01:29] pedromorgan commented on #94
Fixed thanks to @retsyo in #93

[2020-12-08 01:29] pedromorgan commented on #93
@retsyo Thankyou.. much
https://github.com/mikidown/mikidown/pull/95/commits/962c29a1180404b6ee9d4b36725e5d519c30d4f1

[2021-04-14 23:03] pedromorgan commented on #86
So this issue.. as its olde bugo:
- 2022 target is to
- make it more of a lib and stable plugin to pyqt editors
- and integration with mkdocs and sphinx
- mkdocs is of particulat interest
- and a gitlab.editor is needed
-

[2021-04-14 23:05] pedromorgan commented on #86
@F-A at end of day means syncying a 2 b via a vrtual file system. Mikidown is just a gui editor.. but with python anything is possible.almost ;-)

[2021-04-14 23:07] pedromorgan commented on #92
New api is WebEngine so closing this

[2021-04-14 23:07] #92 closed

[2021-04-14 23:07] pedromorgan commented on #79
done

[2021-04-14 23:07] #79 closed

[2021-04-14 23:08] pedromorgan commented on #75
Assign to self..